---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Practicas Academicas",
    company: "Tata Consultancy Services (TCS)",
    description:
      "Mis prácticas académicas integraron el desarrollo de software y el soporte de servidores. Desarrollé el Front-End de un aplicativo web, ej: una herramienta de monitorización de servidores utilizando React, esto me permitió adquirir experiencia en todo el ciclo de vida del desarrollo de software, desde el diseño hasta la implementación y el mantenimiento.",
    link: "http://10.8.150.91/virtualizacion-automatizaciones/inventariodatacenter.git",
  },
  {
    date: "Agosto 2024",
    title: "Principal Frontend Developer",
    company: "My nómina",
    description:
      "Responsable de creación y soporte del sitio web, enfocado principalmente en el desarrollo Front-End",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
