---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador FullStack Freelance",
    company: "Eaglee Software",
    description:
      "Colaborando con Eaglee Software en el desarrollo de soluciones web innovadoras para empresas de los sectores TIC y de la construcción. Utilizando mis habilidades en PHP y MySQL, contribuyo al diseño, desarrollo e implementación de aplicaciones web que responden a las necesidades específicas de cada cliente. Esta experiencia me ha permitido ampliar mis conocimientos en el desarrollo de software para diversos sectores y fortalecer mis habilidades de trabajo en equipo.",
    link: "https://github.com/softwarejhond/ADMIN-SOMOS-PROPIEDAD.git",
  },
  {
    date: "Enero 2025",
    title: "Prácticas Académicas como Desarrollador de TI",
    company: "Tata Consultancy Services (TCS)",
    description:
      "Mis prácticas académicas integraron el desarrollo de software y el soporte de servidores. Desarrollé el Front-End de un aplicativo web, ej: una herramienta de monitorización de servidores utilizando React, esto me permitió adquirir experiencia en todo el ciclo de vida del desarrollo de software, desde el diseño hasta la implementación y el mantenimiento.",
  },
  {
    date: "Agosto 2024",
    title: "Principal Frontend Developer",
    company: "My nómina",
    description:
      "Responsable de creación y soporte del sitio web, enfocado principalmente en el desarrollo Front-End",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
