---
// components/TechStack.astro
const certifications = [
    {
        id: 1,
        src: "/projects/diploma-bd.jpg",
        alt: "Certificación 1",
    },
    {
        id: 2,
        src: "/projects/diploma-diseno-programadores.jpg",
        alt: "Certificación 2",
    },
    {
        id: 3,
        src: "/projects/diploma-dom.jpg",
        alt: "Certificación 3",
    },
     {
        id: 4,
        src: "/projects/diploma-html-css.jpg",
        alt: "Certificación 4",
    },
      {
        id: 5,
        src: "/projects/diploma-java-oop.jpg",
        alt: "Certificación 5",
    },
      {
        id: 6,
        src: "/projects/diploma-react-estado.jpg",
        alt: "Certificación 6",
    },
      {
        id: 7,
        src: "/projects/diploma-react-router.jpg",
        alt: "Certificación 7",
    },
      {
        id: 8,
        src: "/projects/diploma-frontend-developer-practico.jpg",
        alt: "Certificación 8",
    },
      {
        id: 9,
        src: "/projects/diploma-frontend-developer.jpg",
        alt: "Certificación 9",
    },
      {
        id: 10,
        src: "/projects/diploma-git-github.jpg",
        alt: "Certificación 10",
    },
      {
        id: 11,
        src: "/projects/diploma-react.jpg",
        alt: "Certificación 11",
    },
      {
        id: 12,
        src: "/projects/diploma-terminal.jpg",
        alt: "Certificación 12",
    },
      {
        id: 13,
        src: "/projects/diploma-react-tailwind.jpg",
        alt: "Certificación 13",
    },
      {
        id: 14,
        src: "/projects/diploma-backend-nodejs.jpg",
        alt: "Certificación 14",
    },
      {
        id: 15,
        src: "/projects/diploma-testing-nodejs.jpg",
        alt: "Certificación 15",
    },
];
---

<div class="relative overflow-hidden">
    
  <div class="flex transition-transform duration-500 ease-in-out" id="slider-container">
    {certifications.map((cert, index) => (
      <img src={cert.src} alt={cert.alt} class="w-[28%] mx-6 flex-shrink-0 object-cover rounded-md cursor-pointer cert-image" data-src={cert.src} style="aspect-ratio: 4/3;" />
    ))}
  </div>
  <div class="absolute top-1/2 -translate-y-1/2 w-full justify-between flex">
    <button class="p-2 bg-gray-200 text-gray-800 rounded-full hover:bg-gray-300" aria-label="Previous" id="prev-btn">
      ‹
    </button>
    <button class="p-2 bg-gray-200 text-gray-800 rounded-full hover:bg-gray-300" aria-label="Next" id="next-btn">
      ›
    </button>
  </div>
</div>

<!-- Modal -->
<div id="imageModal" class="fixed hidden z-50 inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-white rounded-lg p-4 max-w-4xl">
        <button id="closeModalBtn" class="float-right text-gray-600 hover:text-gray-800 text-xl">x</button>
        <img src="" alt="" id="modalImage" class="max-w-full max-h-[80vh] mx-auto">
    </div>
</div>


<script>
  let slideIndex = 0;
  const itemsVisible = 3;
  let slider = document.getElementById('slider-container');
  let items = slider?.querySelectorAll('img');
  const totalItems = items?.length || 0;

    function nextSlide() {
      if(!items) return;
      slideIndex += itemsVisible;
      if (slideIndex > totalItems - itemsVisible) {
        slideIndex = 0;
      }
      if(slider) {
         slider.style.transform = `translateX(-${slideIndex * (28 + 4)}%)`;
      }
    }

    function previousSlide() {
      if(!items) return;
      slideIndex -= itemsVisible;
        if (slideIndex < 0) {
          slideIndex = totalItems - itemsVisible;
        }
        if(slider) {
           slider.style.transform = `translateX(-${slideIndex * (28 + 4)}%)`;
        }
    }

    
    const nextBtn = document.getElementById('next-btn');
    const prevBtn = document.getElementById('prev-btn');
    
    if(nextBtn) {
          nextBtn.addEventListener('click', nextSlide);
        }
    
    if(prevBtn) {
        prevBtn.addEventListener('click', previousSlide);
    }


    // Automatic Slide
    setInterval(nextSlide, 3000);


    document.addEventListener('DOMContentLoaded', () => {
    const modal = document.getElementById('imageModal');
    const modalImage = document.getElementById('modalImage') as HTMLImageElement | null;
    const closeModalBtn = document.getElementById('closeModalBtn');
    const images = document.querySelectorAll<HTMLImageElement>('.cert-image');

    if (!modal || !modalImage || !closeModalBtn) {
        console.error('Modal elements are not found in the DOM');
        return;
    }

    images.forEach(image => {
        if (!image.dataset.src) {
            console.warn('Image does not have a data-src attribute', image);
            return;
        }

        image.addEventListener('click', () => {
            modalImage.src = image.dataset.src!;
            modal.classList.remove('hidden');
        });
    });

    closeModalBtn.addEventListener('click', () => {
        modal.classList.add('hidden');
    });

    window.addEventListener('click', (event) => {
        if (event.target === modal) {
            modal.classList.add('hidden');
        }
    });
});

</script>